*
{
    margin:0;
    font-family: 'Plus Jakarta Sans', sans-serif;
}
.content
{
    height: 1024px;
}
.main
{
    height: 100vh;
    background-color: #FF5200;
}
.dishes
{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
.header
{
    color:#fff;
    background-color: #FF5200;
    width:100%;
    font-weight: 700;
    height:7.375rem;
    padding: 1.5rem 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.head-content
{
    display: flex;
    justify-content: space-between;
    width:614px;
    height: 54px;
    font-size: 15px;
    align-items: center;
}
.header .logo-white
{
    width:10rem;
    height: 3rem;
}
.get_app
{
    color:#fff;
    border: 1px solid #fff;
    font-weight: 800;
    width: 150px;
    height: 54px;
    font-size: 1rem;
    border-radius: 15px;
    padding:12px 16px;
}
.get_app:hover
{
    border: 1px solid #fff;
    border-radius: 15px;
}

.sign_in
{
    color:#fff;
    font-weight: 800;
    background-color: #000;
    width: 130px;
    font-size: 16px;
    height: 54px;
    border-radius: 15px;
    padding:12px 16px;
}
.sign   _in:hover
{
    background-color: #000;
    border-radius: 15px;
}
.option
{
    color:#fff;
    font-weight: 800;
    text-decoration: none;
}
.main_content_img
{
    display: flex;
    justify-content: space-between;
}
.veggies img
{
    width:15rem;
    height:30rem;
}
.sushi img
{
    width:15rem;
    height:30rem;
}
.main_content_text
{
    position: absolute;
   top: 13rem;
   left: 20rem;
   right: 20rem;
}
.main_content_text h1
{
    color:#fff;
    font-size: 3rem;
    font-weight: 800;
    text-align: center;
}
.location
{
    width: 19.12rem;
    height: 3.7rem;
    top: 0.5rem;
}
.location .input-group-text
{
    border-radius: 15px;
    background-color: #fff;
    color: #FF5200;
    font-size: 1.5rem;
    cursor: pointer;
}
.location .form-control{
    border: none;
    font-size: 0.9rem;
    box-shadow: none;
}
.location .form-control:hover
{
    box-shadow: none;
    border: none;
}
.search
{
    width: 19.12rem;
    height: 3.7rem;
    top: 0.5rem;
    margin-left: 1rem;
}
.main_content_box
{
    display: flex;
    justify-content: center;
}